:root {
    --arrowColor: #00bfe8;
}

#image-carousel-container {
    height: 60%;
    margin: auto;
    width: 80%;
}

.image-carousel {
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
}

.slide-text-internal-interactable {
    pointer-events: auto;
}

.slide-text {
    color: #e3e9ea;
    z-index: 2000;
    position: absolute;
    left: 11%;
    transition: ease-in-out 500ms;
    pointer-events: none;
    padding: 0.5%;
}

#slide-header {
    opacity: 1.0;
    font-size: 2.5rem;
    top: 11%;
    text-shadow: 0px 0px 10px #111010;
}

#slide-text {
    opacity: 0.1;
    font-size: 1.0rem;
    bottom: 12%;
    background-color: #111010f0;
    border-radius: 5px;
    width: 77%;
    max-height: 50%;
    overflow: auto;
}

.image-carousel-slide {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px #e3e9ead0;
    transition: ease 500ms;
}

.image-carousel-slide:hover {
    cursor: pointer;
}

.image-carousel-slide-hidden {
    display: none;
}

.carousel-size-placeholder {
    height: 100%;
    width: 100%;
    position: relative;
    visibility: hidden;
}

.carousel-invisible-hover-trigger {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1200;
    opacity: 0.0;
    cursor: pointer;
}

.image-carousel-slide-next {
    height: 60%;
    width: 60%;
    left: 35%;
    position: absolute;
    top: 20%;
    z-index: 500;
}

.image-carousel-slide-previous {
    height: 60%;
    width: 60%;
    left: 5%;
    top: 20%;
    z-index: 500;
    position: absolute;
}

.image-carousel-slide-current {
    height: 80%;
    width: 80%;
    right: 0;
    position: absolute;
    top: 10%;
    z-index: 1000;
    left: 10%;
}

.slide-arrow {
    color: var(--arrowColor);
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    bottom: 45%;
    opacity: 0.6;
    z-index: 1500;
}

.slide-arrow:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.slide-arrow.right {
    right: 1rem;
}

.slide-arrow.left {
    left: 1rem;
}