.wheel-container {
    margin: auto;
    position: relative;
    text-align: center;
    height: 15rem;
    width: 15rem;
    opacity: 0.25;
    transition: 400ms;
}

.wheel-image-component {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: inherit;
    height: 90%;
    width: 90%;
    margin: auto;
    transition: 3s;
}

.wheel-text {
    position: absolute;
    width: 100%;
    font-size: 3rem;
    top: 33%;
    font-family: orbitron;
    color: #E3E9Ea;
    animation: glow 1000ms ease-in-out infinite alternate;
    animation-play-state: paused;
    cursor: pointer;
}

.wheel-image-component-one {
    height: 100%;
    width: 100%;
    animation-name: rotate-clockwise;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
    animation-play-state: paused;
}

.wheel-image-component-two {
    height: 100%;
    width: 100%;
    animation-name: rotate-counterclockwise;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
    animation-play-state: paused;
}


@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@keyframes rotate-counterclockwise {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(1deg);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #E3E9Ea;
    } to {
        text-shadow: 0 0 10px #E3E9Ea;
    }
}