.portfolio-container {
    width: 100%;
    height: 100%;
}

.portfolio-header {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    border: solid #00bfe8b0 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #e3e9ea;
    background-color: #e3e9ea80;

}

.portfolio-header-title {
    padding: 1%;
}

.portfolio-header-text {
    padding: 1%;
    font-size: 1.25rem;
}

.portfolio-section-header {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    color: #e3e9ea;
    font-size: 3rem;
    text-align: center;
}

.app-title {
    margin-left: 2%;
}

.app-preview-container {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    border: solid #00bfe8b0 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #e3e9ea;
    background-color: #e3e9ea80;
}

.app-preview-window {
    margin: auto;
    width: 90%;
}

.app-preview-img {
    width: 100%;
    border-radius: 8px;
}

.app-preview-desc {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.5%;
    display: flex;
    flex-wrap: wrap;
}

.preview-text {
    flex: 6;
}

.preview-github {
    margin-bottom: 1%;
    flex: 2;
    justify-content: center;
    display: flex;
    align-items: center;
}

.github-link {
    display: flex;
    align-items: center;
}

.github-logo {
    flex: 1;  
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 10px;
}

.githup-text {
    flex: 1;
    margin: auto;
}
