html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: orbitron;
    background-image: url('./assets/space-scape.png'); 
    background-repeat: repeat-y;
    background-size: fill;
    background-attachment: fixed;
}

p {
    font-family: arial;
    font-size: 20px;
}

.app-container {
    width: 100%;
    height: 100%;
    transition: 500ms;
}

.parallax-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.parallax-image {
    position: absolute;
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
}

.parallax-midground-nebula {
    background-image: url("./assets/starscape-nebula.png");
    background-blend-mode: color-dodge;
    background-size: fill;
    background-repeat: repeat-y;
    background-attachment: local;
}

.parallax-foreground-stars {
    background-image: url("./assets/starscape-foreground-stars.png");
}

.banner-container {
    flex: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

.banner {
    position: relative;
    font-family: orbitron;
    text-align: center;
    color: #e3e9ea;
    margin: auto;
}

#title {
    font-size: 5rem;
}

#subtitle{
    font-size: 2.5rem;
}

.navigation-spinners-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navigation-spinner {
    width: 400px;
    margin: auto;
}